@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('./styles/notification.css');
@import url('./styles/loader.css');
:root{
  --blue: #3498DB;
  --blue-hover: #2b8ac9;
  --green: #2ECC71;
  --red: #DB4534;
  --yellow: #FFD883;
  --black: #353535;
  --white: #fff;
  --gray-light: #f2f2f2;
  --gray-md: #d9d9d9;
  --gray-dark: #909090;
}

#root {
  max-width: 1920px;
  color: var(--black);
}

a{
  text-decoration: none;
  color: inherit;
}

p{
  color: #6D6D6D;
}
h4{
  color: var(--black);
}

*{
  margin:0;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  color: var(--gray-light);
}

.login-box{
   width: 100%;
}

.topbar{
  background: var(--blue);
  padding: 1em 0em;
  color: var(--white);
}

.topbar-2{
  background: var(--blue);
  padding: 1.5em 2em;
  color: var(--white);

  display: flex;
  justify-content: space-between;
}
.topbar-2 .btn-y{
  padding: .5em 1em;
  background-color: #60bcf9 ;
  color: var(--white);
  border: none;
  border-radius: .25rem;

  font-size: 1.15rem;
  font-weight: 600;

  cursor: pointer;
}
.topbar-2 .btn-y div{
  width: 12px;
  height: 12px;
  padding: .25em;
  border-radius: 50%;
  margin-inline: .5em;
  border: thin solid var(--black);
}
.red{
  color: var(--red);
  background: var(--red);
}
.green{
    color: var(--green);
  background: var(--green);
}
.yellow{
    color: var(--yellow);
  background: var(--yellow);
}
.topbar-2 .btn-x{
  padding: .5em 2em;
  background-color: var(--red);
  color: var(--white);
  border: 2px solid var(--gray-light);
  border-radius: .25rem;

  font-size: 1.15rem;
  font-weight: 600;

  cursor: pointer;
}

.buttons label{
  font-size: .75rem;
}
/* Utility Classes */
.text-center{
  text-align: center;
}
.p-2{
  padding: 2em;
}

.items-center{
  align-items: center;
}
.gap-y-2{
  column-gap: 2em;
}
.h-70{
  height: 70dvh;
}
.capitalize{
  text-transform: capitalize;
}
.flex{
  display: flex;
}

.my-1{
  margin-top: 1em;
  margin-bottom: 1em;
}
.mb-2{
  margin-bottom: 1em;
}
.my-2{
  margin-top: 2em;
  margin-bottom: 2em;
}

/* ------------- */
.primary-btn-lg{
  padding: 1em 2em;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: .25rem;

  font-size: 1.15rem;
  font-weight: 600;

  cursor: pointer;
}
.secondary-btn-lg{
  padding: 1em 2em;
  background-color: var(--gray-light);
  color: var(--black);
  border: none;
  border-radius: .25rem;

  font-size: 1.15rem;
  font-weight: 400;

  cursor: pointer;
}
.secondary-btn-lg:hover{
  background-color: var(--gray-md);
 
}

.primary-btn-lg-outline{
  padding: 1em 2em;
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: .25rem;

  font-size: 1.15rem;
  font-weight: 600;

  cursor: pointer;
}
.primary-btn-lg:hover{
  background-color: var(--blue-hover);

}

.hyperlink{
  font-weight: 400;
  cursor: pointer;
}
.hyperlink:hover{
 text-decoration: underline;
}

/* ------------- */
main{
  background: var(--white);
  height: 75dvh;
  max-height: 75dvh;

  width: 80dvw;
  max-width: 85dvw;
  margin-top: 2em;

  border-radius: .35rem;
}

.btn-box{
 display: flex;
 flex-direction: column;
 row-gap: 1em;
 width: 20em;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1em;
}
.input-group{
  display: flex;
  flex-direction: column;
  width: 24rem;
  height: 5rem;
}

.input-group label{
  font-size: .85rem;
}
.input-group input{
  height: 100%;
  width: 91.5%;
  max-width: 100%;
  max-height: 100%;

  padding: .25em 1em;
  color: var(--black);

  border: 2px solid var(--gray-md);
  border-radius: .25rem;
}
.input-group select{
  height: 100%;
  width:100%;
  max-width: 100%;
  max-height: 100%;
  color: var(--black);

  padding: .25em 1em;
  background-color: var(--white);

  border: 2px solid var(--gray-md);
  border-radius: .25rem;
}

.side-menu{
  border-right: 2px solid var(--gray-light);
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 12dvw;
  padding: 1em 2em;
  background: var(--white);
  height: 100%;
  max-height: 100%;
  
}
ul{
  padding: 0em;
}
.side-menu ul>li{
  list-style: none;
  background: var(--gray-light);
  padding: .5em 2em;
  border-radius: .25rem;
  border: 2px solid var(--gray-light);
  margin-top: .5em;

  cursor: pointer;
}

.side-menu ul>li.active {
  background: var(--blue);
  color: white;
}

.side-menu ul>li:hover{
  border: 2px solid var(--gray-md);
}
